tensorflow
tensorflow-datasets
pandas
numpy
matplotlib
pyspark
scikit-learn
nltk
spacy
yarl
flask
xgboost
lightgbm
catboost
mlflow
streamlit
python-dotenv
cython
cryptography
pywin32
fire
hopsworks
hsfs
fastapi
great_expectations
apache-airflow
wandb
sktime
